#top-azul{
	background-color: #006cb5;
	height: 15px;
	text-align: center;
}
#top-azul > img{
	margin-top: -10px;
}


/*munu principal*/
#menu-container{
	height: 105px;
}
#logo{
	margin-top: -40px;
}
#menu > div {
	margin-top: 30px;
}