@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

body{
	font-family: 'Open Sans', sans-serif;
}

#top-azul{
	background-color: #006cb5;
	height: 15px;
	text-align: center;
}
#top-azul > img{
	margin-top: -10px;
}

/*==================--------- Menu --------====================*/

.navbar {
	margin-bottom: 0px;
}
.navbar ul {
	margin-top: 30px;
}
.navbar-default{
	background-color: #ffffff;
}
.navbar-brand{
    line-height: 105px;
    height: 105px;
    padding-top: 0;
}
.navbar-toggle{
	margin-top: 30px;
}

.navbar-default .navbar-nav>li>a{
	border-radius: 2px;

	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;

} 
.navbar-default .navbar-nav>li>a:hover{
	background-color: #e7e7e7;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{
	color: #555;
	background-color: #ffffff;
}
 .navbar-default .navbar-nav>.active>a:hover{
 	background-color: #e7e7e7;
 }


#separador{
	margin-left: 5px;
}


#icone-carrinho-de-compras{
	border-radius: 20px;
	border: 2px #7f7e7e solid;
}


/*Banner*/

#banner{
	height: 430px;
	background-color: #999999;
}