@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

body{
	font-family: 'Open Sans', sans-serif;
	color: #7f7f7f;
}

/*=========*/
/*Topo Azul*/
/*=========*/

#top-azul{
	background-color: #006cb5;
	height: 15px;
	text-align: center;
}
#top-azul > img{
	margin-top: -10px;
}

/*====*/
/*Menu*/
/*====*/

.navbar {
	margin-bottom: 0px;
}
.navbar ul {
	margin-top: 30px;
}
.navbar-default{
	background-color: #ffffff;
}
.navbar-brand{
    line-height: 105px;
    height: 105px;
    padding-top: 0;
}
.navbar-toggle{
	margin-top: 30px;
}
.navbar-default .navbar-nav>li>a{
	border-radius: 2px;

	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;

} 
.navbar-default .navbar-nav>li>a:hover{
	background-color: #e7e7e7;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{
	color: #555;
	background-color: #ffffff;
}
 .navbar-default .navbar-nav>.active>a:hover{
 	background-color: #e7e7e7;
 }
#separador{
	margin-left: 5px;
}
#icone-carrinho-de-compras{
	border-radius: 20px;
	border: 2px #7f7e7e solid;
}

/*======*/
/*Banner*/
/*======*/

#banner{
	height: 430px;
	background-color: #999999;
}

/*===================*/
/*Filtro de Categoria*/
/*===================*/

.pagination-centered{
	text-align: center;
}

#filter{
	padding-top: 60px;
	padding-bottom: 45px;
}


/*======*/
/*Cursos*/
/*======*/
.curso{
	/*max-width: 390px;*/
	min-width: 305px;
	/*height: 600px;*/
	margin-bottom: 40px;
}	

.borda {
	padding-top: 20px;
	max-width: 95%;
	height: 367px;
	-webkit-box-shadow: inset 0px 0px 0px 4px #f7f6f6;
	-moz-box-shadow: inset 0px 0px 0px 4px #f7f6f6;
	box-shadow: inset 0px 0px 0px 4px #f7f6f6;

}
.curso .borda > h2 {
	margin-top: 10px;
	height: 56px;
	line-height: 60%;
}

.curso .borda > h2 a {
	font-size: 16px;
	font-style: normal;
	color: #484848;

}
.curso .borda > h2 a:hover {
	color: #006cb5;

}
.curso .borda > p{
	font-size: 18px;
	color: #717171;
}

.borda p > .btn-default:hover {
	color: #2f9b69;
	background-color: #48ea9f;
	border-color: #fff;
}
.tag-data{
	color: #fff;
	width: 80px;
	height: 38px;
	background-color: #f68e34;

	-webkit-box-shadow: inset 4px 0px 0px 0px #df8130;
	-moz-box-shadow: inset 4px 0px 0px 0px #df8130;
	box-shadow: inset 4px 0px 0px 0px #df8130;

	position: absolute;
  	top: 35px;
}

.tag-data p{
	margin-top: 8px;
	font-size: 16px;
}

/*======*/
/*RODAPÉ*/
/*======*/
 footer{
 	margin-top: 50px;
 	border-top: 1px #f2f1f1 solid ;
 	/*height: 470px;*/
	background: #fdfcfc;
    background: -moz-linear-gradient(top, #fdfcfc 0%, #f8f8f8 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fdfcfc), color-stop(100%, #f8f8f8));
    background: -webkit-linear-gradient(top, #fdfcfc 0%, #f8f8f8 100%);
    background: -o-linear-gradient(top, #fdfcfc 0%, #f8f8f8 100%);
    background: -ms-linear-gradient(top, #fdfcfc 0%, #f8f8f8 100%);
    background: linear-gradient(to bottom, #fdfcfc 0%, #f8f8f8 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfcfc', endColorstr='#f8f8f8', GradientType=0 );

 }
footer .container{
	margin-top: 50px;
	font-family: 'Open Sans: 600', sans-serif;
}
/*=========*/
/*COLUNA 1*/
/*contato*/
.endereco-rodape{
	min-width: 305px; 
}

.endereco-rodape h3{
	font-size: 20px;
	margin-bottom: 35px;
	letter-spacing: 1px;

}

.endereco-rodape address > p {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 25px;

}
#telefone-rodape{
	color: #717171;
}

#social ul {
	margin-top: 40px;
}
#social ul li{
	margin-right: 10px;
}
#social ul li a {
	color: #656363;
}

#icone-facebook:hover {
	color: #3d5a99;
}

#icone-twitter:hover {
	color: #5dd7fc;
}

#icone-google:hover {
	color: #ff0f43;
}

#icone-skype:hover {
	color: #00aff0;
}

/*=========*/
/*COLUNA 2*/
/*blog*/

.blog-rodape {
	min-width: 300px;
}

.blog-rodape h3{
	font-size: 20px;
	margin-bottom: 35px;
	letter-spacing: 1px;
}

.blog-rodape div{
	margin-top: 18px;

}
.blog-rodape p{
	font-size: 14px;	
	line-height: 20px;
}


/*=========*/
/*COLUNA 3*/
/*plugin facebook*/

.lebredigital{
	margin-top: 10px;
	font-size: 13px;
	color: #a6a6a6;
}
.cartoes-rodape{
	text-align: right;
}
#botton-azul{
	background-color: #006cb5;
	height: 7px;
	margin-top: 20px;
}



